<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>

    <script src="@Url.Content("~/Scripts/JS.js")"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div>
        <p>
           
            @{
                var re = "";
                if (Request.Cookies["Name"] != null && Request.Cookies["Age"] != null)
                {
                    re = Request.Cookies["Name"].Value + "  " + Request.Cookies["Age"].Value;
                }
                else
                {
                    re = "гость";
                }
            }

            Привет @re рад знакомству
        </p>
    </div>
    <div class="a">
           <b><i>Все о собаках</i></b>




        <div id=carousel>
            <figure id=spinner>
                <img src="@Url.Content("~/Content/image/1.jpg")" alt="">
                <img src="@Url.Content("~/Content/image/2.jpg")" alt="">
                <img src="@Url.Content("~/Content/image/3.jpg")" alt="">
                <img src="@Url.Content("~/Content/image/4.jpg")" alt="">
                <img src="@Url.Content("~/Content/image/5.jpg")" alt="">
                <img src="@Url.Content("~/Content/image/6.jpg")" alt="">
                <img src="@Url.Content("~/Content/image/7.jpg")" alt="">
                <img src="@Url.Content("~/Content/image/8.jpg")" alt="">

            </figure>
        </div>
        <span style=float:left class=ss-icon onclick="galleryspin('-')">&lt;</span>
        <span style=float:right class=ss-icon onclick="galleryspin('')">&gt;</span>


    </div>





    <div class="c">
     <p>  @Html.ActionLink("Фото", "Image","Home")</p>
     <p>   @Html.ActionLink("Определение", "Index", "Home")</p>
     <p>  @Html.ActionLink("Слушать музыку", "About", "Home")</p>
     <p>  @Html.ActionLink("Комментарий", "Comment", "Home")</p>
        <p>  @Html.ActionLink("Фильтр", "Filter", "Home")</p>
    </div>


    <div class="container body-content">
        @RenderBody()
    </div>

    <style>
        .a {
            float: left;
            background: lightgreen;
            width: 93%;
            height: 600px;
            padding: 20px;
            font-size: 60px;
            text-align: center;
        }

        

        .c {
            float: left;
            height: 350px;
            padding: 15px;
            font-size: 20px;
            text-align: left;
            background: lightyellow;
        }
    </style>
   

</body>
</html>
