<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>

    <script src="@Url.Content("~/Scripts/JS.js")"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="row">
            <p>

                @{
                    var re = "";
                    if (Request.Cookies["Name"] != null && Request.Cookies["Age"] != null)
                    {
                        re = Request.Cookies["Name"].Value + "  " + Request.Cookies["Age"].Value;
                    }
                    else
                    {
                        re = "гость";
                    }
                }

                Привет @re рад знакомству
            </p>
            <div class="page-header">
                <h1>КиноПоиск</h1>
            </div>
        </div>
     </div>
        <div class="row">
            <div id=carousel>
                <figure id=spinner>
                    <img src="@Url.Content("~/Content/image/1.jpg")" width="518" height="298" alt="">
                    <img src="@Url.Content("~/Content/image/2.jpg")" width="518" height="298" alt="">
                    <img src="@Url.Content("~/Content/image/3.jpg")" width="518" height="298" alt="">
                    <img src="@Url.Content("~/Content/image/4.jpg")" width="518" height="298" alt="">
                    <img src="@Url.Content("~/Content/image/5.jpg")" width="518" height="298" alt="">
                    <img src="@Url.Content("~/Content/image/6.jpg")" width="518" height="298" alt="">
                    <img src="@Url.Content("~/Content/image/7.jpg")" width="518" height="298" alt="">
                    <img src="@Url.Content("~/Content/image/8.jpg")" width="518" height="298" alt="">

                </figure>
            </div>
            <span style=float:left class=ss-icon onclick="galleryspin('-')">&lt;</span>
            <span style=float:right class=ss-icon onclick="galleryspin('')">&gt;</span>


        </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation">  @Html.ActionLink("Фото", "Image", "Home")</li>
                    <li role="presentation">   @Html.ActionLink("Все фильмы", "Films", "Home")</li>
                    <li role="presentation">  @Html.ActionLink("Саундтреки", "About", "Home")</li>
                    <li role="presentation">  @Html.ActionLink("Комментарий", "Comment", "Home")</li>
                    <li role="presentation">  @Html.ActionLink("Фильтр", "Filter", "Home")</li>
                    <li role="presentation">  @Html.ActionLink("Добаивть фильм", "AddFilm", "Home")</li>
                </ul>
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>

</body>
</html>
