@model WebApplication1.Models.Audio
@{
    ViewBag.Title = "Музыка из фильмов";
}
<h2>@ViewBag.Title.</h2>


<div class="c">
    <audio controls>

        <source src="~/Content/music/музыка.mp3">
    </audio>
    <p> Дата создания  @Model.Songtime.ToShortDateString()</p>
    <p> Песня существует @Model.Time.Days дней</p>
    
</div>

<div class="c">
    <audio controls>

        <source src="~/Content/music/Alexandre Desplat - Danish Waltz 1 [ВсеСаундтреки.рф].mp3">
    </audio>
    <p> Дата создания  @Model.Songtime.ToShortDateString()</p>
    <p> Песня существует @Model.Time.Days дней</p>

</div>
<div class="c">
    <audio controls>

        <source src="~/Content/music/Alexandre Desplat - inar Returns Home [ВсеСаундтреки.рф].mp3">
    </audio>
    <p> Дата создания  @Model.Songtime.ToShortDateString()</p>
    <p> Песня существует @Model.Time.Days дней</p>

</div>

<div class="c">
    <audio controls>

        <source src="~/Content/music/Alexandre Desplat - The Danish Girl [ВсеСаундтреки.рф].mp3">
    </audio>
    <p> Дата создания  @Model.Songtime.ToShortDateString()</p>
    <p> Песня существует @Model.Time.Days дней</p>

</div>

<div class="c">
    <audio controls>

        <source src="~/Content/music/Alexandre Desplat - Watching Ulla [ВсеСаундтреки.рф].mp3">
    </audio>
    <p> Дата создания  @Model.Songtime.ToShortDateString()</p>
    <p> Песня существует @Model.Time.Days дней</p>

</div>
<div class="c">
    <audio controls>

        <source src="~/Content/music/Bryan Michael Mills - Theme from The Orkestra of The Dead [ВсеСаундтреки.рф].mp3">
    </audio>
    <p> Дата создания  @Model.Songtime.ToShortDateString()</p>
    <p> Песня существует @Model.Time.Days дней</p>

</div>
<div class="c">
    <audio controls>

        <source src="~/Content/music/Roque Baños - Finding The Dead [ВсеСаундтреки.рф].mp3">
    </audio>
    <p> Дата создания  @Model.Songtime.ToShortDateString()</p>
    <p> Песня существует @Model.Time.Days дней</p>

</div>