@model List<WebApplication1.Models.Film>

@{
    ViewBag.Title = "Films";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Films</h2>

@foreach (var film in Model)
{
    <div>
        <h3>@film.Name</h3>
        <div>
            <p>   <img height="250" src="~/Content/image/@film.Nameimage" /> </p><br />
            <b>Дата создания:</b> 
            <span> @film.Created.ToString("yyyy") </span><br />
            <b>Жанр фильма:</b>
            <span> @film.genres </span><br />
            <b> Описание: </b>
             @film.Opis

        </div>
        
        <a class="btn btn-default" href="@Url.Action("Remove", new { IDdel = film.Id })" role="button">Удалить</a>
        <hr />
   
    </div>
}